{% extends "base.html" %}

{% block main %}

<div class="container mt-3">

    <p>Welcome to our brewsite page</p>

    <p>{{ user }}</p>

    <p>
        This website provides information about different breweries and types of beer.
    </p>

    <div class="row">

        <div class="col-md-4 mb-3">
            <img src="{{ url_for('static', filename='images/beer.jpg') }}"
                 alt="Glass of beer"
                 class="img-fluid">
        </div>

        <div class="col-md-4 mb-3">
            <img src="{{ url_for('static', filename='images/Brewery.jpg') }}"
                 alt="Beer being poured at a brewery"
                 class="img-fluid">
        </div>

        <div class="col-md-4 mb-3">
            <img src="{{ url_for('static', filename='images/Barley.jpg') }}"
                 alt="Barley used for brewing"
                 class="img-fluid">
        </div>

    </div>

</div>

{% endblock main %}